
@media (min-width:1536px) and (max-width: 2048px) {  

	.iphone-big-en{
		display:none !important;
	}

	.ipad-en{
		display:block !important;
	}

}

@media (max-width: 1536px) { 
	.iphone-big-en {
		display: block !important;
	}
	.ipad-en{
		display:none !important;
	}
}